@import "https: //fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap";
@import "https://api.fontshare.com/v2/css?f[]=general-sans@600,700&f[]=satoshi@900,500,300,400&f[]=red-hat-display@900&display=swap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Georama";
}

:root {
  /* fonts  */
  --satoshi: 'Satoshi', sans-serif;
  --redHat:  'Red Hat Display', sans-serif;
  --genSans: 'General Sans', sans-serif;

}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 24px;
}

/* html, */
body {
  background: #000000 !important;
  color: #fff !important;
  font-family: var(--satoshi) !important;
  
}
